<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data analysis tool for bakery owners</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="mainstyle.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    </head>


    <body>
        <header>

            <div class="header">
            <h1><a href="./main.html">Data analysis tool for bakery owners</a></h1>
            <h3>The site is designed to provide a variety of auxiliary data to help bakery owners operate the store by analyzing sales data of the products.</h3>
            </div>

            
        </header>

        <div class="navbar">
            <a href="./intro.html">Log In</a>
            <a href="./signup.html">Sign Up</a>
        </div>

        <hr>

        <div class="list" >
        <div id = "datasection" class="datasection">
            <ul style="list-style-type:none;">
                <li><a href="./intro.html">Modify your menu</a></li>
            </ul>
        </div>

        <hr>

        <div id = "servicelist" class="servicelist">
            <ul style="list-style-type: none;">
                <li><a href="./intro.html">Check remain views for service</a></li><br>
                <li><a href="./intro.html">Customer delivery area map</a></li><br>
                <!-- <li><a href="./recfixmenu.php">Recommend a fixed set menu</a></li><br> -->
                <li><a href="./intro.html">Recommend popular products by year</a></li><br>
                <li><a href="./intro.html">Recommend popular products by season</a></li><br>
                <li><a href="./intro.html">Recommend popular products by day of the week</a></li><br>
                <li><a href="./intro.html">Recommend popular products by time</a></li><br>
            </ul>
        </div>

    </body>
</html>